[submodule "crosstool-NG"]
	path = crosstool-NG
	url = https://github.com/IoTAqua/ESP-crosstool-NG.git
[submodule "esptool"]
	path = esptool
	url = https://github.com/espressif/esptool.git
[submodule "ESP8266_NONOS_SDK-git"]
	path = ESP8266_NONOS_SDK-git
	url = https://github.com/espressif/ESP8266_NONOS_SDK.git
